<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Finché il backend era simulato in processo, questo permesso non
         serviva: il template Flutter lo dichiara solo nei manifest di debug e
         profile, per gli strumenti di sviluppo. Con la sincronizzazione in rete
         locale serve anche in release, altrimenti l'app compilata funziona sul
         computer di chi sviluppa e non su quella del cliente. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- La scoperta della cassa passa da mDNS, che e' multicast: senza questo
         permesso NsdManager non riceve le risposte e ogni ricerca scade a
         vuoto. Non e' un permesso che l'utente deve concedere - si dichiara e
         basta - ma senza dichiararlo il guasto si presenta come "non trovo
         nessuna cassa", che non suggerisce di andare a guardare il manifest. -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>

    <!-- `usesCleartextTraffic`: da Android 9 il traffico in chiaro è vietato
         per impostazione predefinita, e la sincronizzazione fra tablet è HTTP
         semplice su una rete locale. Non usare TLS è una scelta dichiarata fra
         le semplificazioni: in sala i dispositivi non hanno un certificato e
         non c'è un'autorità che glielo firmi, e chi è già sul Wi-Fi del locale
         è considerato fidato.

         Vorrebbe essere ristretto ai soli indirizzi privati, ma la
         configurazione di sicurezza di rete di Android accetta domini, non
         intervalli: non si può scrivere "192.168.0.0/16". Restringerlo
         all'indirizzo della cassa significherebbe ricompilare l'app a ogni
         cambio di indirizzo. -->
    <application
        android:label="pos_sync"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
